body{
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-image:url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
#cv{
    width: 75%;
    margin-inline:  auto;
    border: #04152f solid 1px;
    display: flex;
    margin-bottom: 0%;
    background-color: #e5e5e5;
    font-family: "Century Gothic";
    font-size: 1em;
}
 p{
    text-align: justify;
} 
#GAUCHE{
    position: relative;
    width: 50%;
    background-color: #0d2242cb;
    color: aliceblue;
    margin-right: 10px;
}  
aside img{
    position: static;
    width: 100%;
    margin: 0%;
    border-radius: 50%;
    
}
#nom{
    position: relative;
    bottom: 37px;
    left: 40px; 
    background-color: rgba(116,175,121,0.7);
    color: rgb(255, 255, 255);
    font-size: 3em;
    width: 120%;
    text-align: center;
    font-style: oblique ;
}
aside article{
    position: relative;
    margin-inline: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#interets{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

h3,dt{
    font-style: italic;
    font-size: 1.5em; 
}
div h2{
    font-style: italic;
    font-size: 1.8em; 
}
aside h2{
    text-decoration: underline;
}
dt{
    margin-bottom: 5px;
}


.fa-quote-right{
float: left;
width: 5%;
height: 5%;
font-size: 2em;
margin: 1%;
}
#info{
    position: relative;
    left: 50px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;  
}
#titre{
background-color: #0d2242cb;
color: white;

text-align: center;
margin: 0%; 
font-family: Cursive; 
}
main{
    padding-inline: 2%;
}
main div section{
    flex:1 1 40%;
}
main div section p,h3{  
    text-align: center;
    font-size: 1em;
}
.para{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
hr{
    margin: 5%;
}
#CI{
    float: right;
}


